@import 'themes/colors';

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.portfolio {
    &__body {
        // max-height: 100vh;
        // overflow: auto;
    }

    &__section {
        padding: 5rem 0;

        &:nth-child(even) {
            background: $secondary-color;
        }
    }
}

section {
    height: 5000px;
}
