main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.portfolio {
    &__body {
        // max-height: 100vh;
        // overflow: auto;
    }
}

section {
    height: 5000px;
}
