@import 'themes/colors';

.portfolio {
    min-height: 100vh;
    display: grid;
    height: 100%;

    &__body {
        // max-height: 100vh;
        // overflow: auto;
    }

    &__section {
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(even) {
            background: $secondary-color;
        }
    }
}

section {
    height: 5000px;
}
