<main class="portfolio">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>
    <div class="portfolio__body" [style.margin-left.px]="contentOffset">
        <section id="home">
            <app-home></app-home>
        </section>
        <section id="about-me">
            <app-about-me></app-about-me>
            <app-skills></app-skills>
        </section>
        <section id="my-work">
            <app-my-works></app-my-works>
        </section>
        <section id="contact">
            <app-contact></app-contact>
        </section>
    </div>
</main>
